In [8]:
import pandas as pd
import numpy as np

In [9]:
path_result='result1-58.03425266435841.csv'
data = pd.read_csv(path_result,sep=',')
data.drop(['Unnamed: 0'],axis=1,inplace=True)

#Divide Weight column in 6 columns by splitting the string by comma
data[['Weight1','Weight2','Weight3','Weight4','Weight5','Weight6']] = data['Weight'].str.split(',',expand=True)
data.drop(['Weight'],axis=1,inplace=True)

#Divide Price column in 6 columns by splitting the string by comma
data[['Price1','Price2','Price3','Price4','Price5','Price6']] = data['Price'].str.split(',',expand=True)
data.drop(['Price'],axis=1,inplace=True)

data.head()

,Wealth,Return,Weight1,Weight2,Weight3,Weight4,Weight5,Weight6,Price1,Price2,Price3,Price4,Price5,Price6
0,10027.902076,0.002786,0.16,0.17,0.28,0.16,0.11,0.13,1.000,0.992,1.020,1.006,0.988,1.007
1,10071.065311,0.004295,0.07,0.11,0.61,0.14,0.02,0.06,1.000,1.026,0.997,1.033,1.007,1.007
2,10141.164817,0.006936,0.30,0.22,0.12,0.15,0.04,0.18,1.000,1.008,1.001,1.032,1.052,1.002
3,10211.303191,0.006892,0.40,0.07,0.15,0.04,0.12,0.22,1.000,1.026,1.027,1.007,1.012,1.001
4,10270.887082,0.005818,0.15,0.21,0.06,0.09,0.30,0.19,1.000,1.005,1.008,0.991,1.019,1.003

In [10]:
data=data.astype(float)

In [11]:

# Save to a new CSV file
data.to_csv('cleaned_'+path_result, index=False)